@model SideLine.Models.Views.CampionatoViewModel

@{
    ViewBag.Title = @Model.Campionato.Nome;
    Layout = "~/Views/Layout/Layout.cshtml";
}

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid black;
            text-align: center;
            padding: 2px;
        }

        th {
            border: 1px solid black;
            text-align: center;
            padding: 2px;
            background-color: red;
            color: white
        }
    </style>
</head>
<h2>MotoGp</h2><br />
<h3>Team</h3>

<div style="overflow-x:auto; text-align:center">
    <table>
        <tr>
            <th>Posizione</th>
            <th>Team</th>
            <th>Punti</th>

        </tr>
        <tr>
            <td>1</td>
            <td>@Model.Classifica.ElementAt(0).FK_Societa_Sportiva</td>
            <td style="font-weight:bold">@Model.Classifica.ElementAt(0).Punteggio</td>
        </tr>
        <tr>
            <td>2</td>
            <td>@Model.Classifica.ElementAt(1).FK_Societa_Sportiva</td>
            <td style="font-weight:bold">@Model.Classifica.ElementAt(1).Punteggio</td>
        </tr>
        <tr>
            <td>3</td>
            <td>@Model.Classifica.ElementAt(2).FK_Societa_Sportiva</td>
            <td style="font-weight:bold">@Model.Classifica.ElementAt(2).Punteggio</td>
        </tr>
        <tr>
            <td>4</td>
            <td>@Model.Classifica.ElementAt(3).FK_Societa_Sportiva</td>
            <td style="font-weight:bold">@Model.Classifica.ElementAt(3).Punteggio</td>
        </tr>
        <tr>
            <td>5</td>
            <td>@Model.Classifica.ElementAt(4).FK_Societa_Sportiva</td>
            <td style="font-weight:bold">@Model.Classifica.ElementAt(4).Punteggio</td>
        <tr>
            <td>6</td>
            <td>@Model.Classifica.ElementAt(5).FK_Societa_Sportiva</td>
            <td style="font-weight:bold">@Model.Classifica.ElementAt(5).Punteggio</td>
        </tr>
        <tr>
            <td>7</td>
            <td>@Model.Classifica.ElementAt(6).FK_Societa_Sportiva</td>
            <td style="font-weight:bold">@Model.Classifica.ElementAt(6).Punteggio</td>
        </tr>
        <tr>
            <td>8</td>
            <td>@Model.Classifica.ElementAt(7).FK_Societa_Sportiva</td>
            <td style="font-weight:bold">@Model.Classifica.ElementAt(7).Punteggio</td>
        <tr>
            <td>9</td>
            <td>@Model.Classifica.ElementAt(8).FK_Societa_Sportiva</td>
            <td style="font-weight:bold">@Model.Classifica.ElementAt(8).Punteggio</td>
        </tr>
        <tr>
            <td>10</td>
            <td>@Model.Classifica.ElementAt(9).FK_Societa_Sportiva</td>
            <td style="font-weight:bold">@Model.Classifica.ElementAt(9).Punteggio</td>
        </tr>
    </table><br />
    <h3>Piloti</h3>
    <div style="overflow-x:auto; text-align:center">
        <table>
            <tr>
                <th>Posizione</th>
                <th>Pilota</th>
                <th>Punti</th>
                <th>Team</th>
            </tr>
            <tr>
                <td>1</td>
                <td>@Model.Classifica.ElementAt(10).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(10).Punteggio</td>
                <td>@Model.Classifica.ElementAt(10).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>2</td>
                <td>@Model.Classifica.ElementAt(11).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(11).Punteggio</td>
                <td>@Model.Classifica.ElementAt(11).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>3</td>
                <td>@Model.Classifica.ElementAt(12).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(12).Punteggio</td>
                <td>@Model.Classifica.ElementAt(12).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>4</td>
                <td>@Model.Classifica.ElementAt(13).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(13).Punteggio</td>
                <td>@Model.Classifica.ElementAt(13).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>5</td>
                <td>@Model.Classifica.ElementAt(14).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(14).Punteggio</td>
                <td>@Model.Classifica.ElementAt(14).FK_Societa_Sportiva</td>
            <tr>
                <td>6</td>
                <td>@Model.Classifica.ElementAt(15).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(15).Punteggio</td>
                <td>@Model.Classifica.ElementAt(15).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>7</td>
                <td>@Model.Classifica.ElementAt(16).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(16).Punteggio</td>
                <td>@Model.Classifica.ElementAt(16).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>8</td>
                <td>@Model.Classifica.ElementAt(17).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(17).Punteggio</td>
                <td>@Model.Classifica.ElementAt(17).FK_Societa_Sportiva</td>
            <tr>
                <td>9</td>
                <td>@Model.Classifica.ElementAt(18).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(18).Punteggio</td>
                <td>@Model.Classifica.ElementAt(18).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>10</td>
                <td>@Model.Classifica.ElementAt(19).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(19).Punteggio</td>
                <td>@Model.Classifica.ElementAt(19).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>11</td>
                <td>@Model.Classifica.ElementAt(20).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(20).Punteggio</td>
                <td>@Model.Classifica.ElementAt(20).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>12</td>
                <td>@Model.Classifica.ElementAt(21).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(21).Punteggio</td>
                <td>@Model.Classifica.ElementAt(21).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>13</td>
                <td>@Model.Classifica.ElementAt(22).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(22).Punteggio</td>
                <td>@Model.Classifica.ElementAt(22).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>14</td>
                <td>@Model.Classifica.ElementAt(23).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(23).Punteggio</td>
                <td>@Model.Classifica.ElementAt(23).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>15</td>
                <td>@Model.Classifica.ElementAt(24).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(24).Punteggio</td>
                <td>@Model.Classifica.ElementAt(24).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>16</td>
                <td>@Model.Classifica.ElementAt(25).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(25).Punteggio</td>
                <td>@Model.Classifica.ElementAt(25).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>17</td>
                <td>@Model.Classifica.ElementAt(26).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(26).Punteggio</td>
                <td>@Model.Classifica.ElementAt(26).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>18</td>
                <td>@Model.Classifica.ElementAt(27).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(27).Punteggio</td>
                <td>@Model.Classifica.ElementAt(27).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>19</td>
                <td>@Model.Classifica.ElementAt(28).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(28).Punteggio</td>
                <td>@Model.Classifica.ElementAt(28).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>20</td>
                <td>@Model.Classifica.ElementAt(29).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(29).Punteggio</td>
                <td>@Model.Classifica.ElementAt(29).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>21</td>
                <td>@Model.Classifica.ElementAt(30).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(30).Punteggio</td>
                <td>@Model.Classifica.ElementAt(30).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>22</td>
                <td>@Model.Classifica.ElementAt(31).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(31).Punteggio</td>
                <td>@Model.Classifica.ElementAt(31).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>23</td>
                <td>@Model.Classifica.ElementAt(32).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(32).Punteggio</td>
                <td>@Model.Classifica.ElementAt(32).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>24</td>
                <td>@Model.Classifica.ElementAt(33).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(33).Punteggio</td>
                <td>@Model.Classifica.ElementAt(33).FK_Societa_Sportiva</td>
            </tr>
            <tr>
                <td>25</td>
                <td>@Model.Classifica.ElementAt(34).Pilota</td>
                <td style="font-weight:bold">@Model.Classifica.ElementAt(34).Punteggio</td>
                <td>@Model.Classifica.ElementAt(34).FK_Societa_Sportiva</td>
            </tr>
        </table>
    </div>

