@model SideLine.Models.Views.SignUpViewModel

@{
    Layout = "~/Views/Layout/Layout.cshtml";
}

<h2>@Model.LabelTitolo</h2>
<br />
<br />


@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-offset-12 col-md-12">
            <div class="form-group">
                <label>@Model.LabelNome </label><br />
                @Html.TextBoxFor(t => t.Utente.Nome, new { placeholder = Model.LabelNome })
                @Html.ValidationMessageFor(t => t.Utente.Nome)
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-12 col-md-12">
            <div class="form-group">
                <label>@Model.LabelCognome </label><br />
                @Html.TextBoxFor(t => t.Utente.Cognome, new { placeholder = Model.LabelCognome })
                @Html.ValidationMessageFor(t => t.Utente.Cognome)
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-12 col-md-12">
            <div class="form-group">
                <label>@Model.LabelEmail </label><br />
                @Html.TextBoxFor(t => t.Utente.Email, new { placeholder = Model.LabelEmail, type = "email" })
                @Html.ValidationMessageFor(t => t.Utente.Email)
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-12 col-md-12">
            <div class="form-group">
                <label>@Model.LabelPassword</label><br />
                @Html.PasswordFor(t => t.Password, new { placeholder = Model.LabelPassword })
                @Html.ValidationMessageFor(t => t.Password)
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-12 col-md-12">
            <div class="form-group">
                <label>@Model.LabelConfermaPassword</label><br />
                @Html.PasswordFor(t => t.ConfermaPassword, new { placeholder = Model.LabelConfermaPassword })
                @Html.ValidationMessageFor(t => t.ConfermaPassword)
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-12 col-md-12">
            <div class="form-group">
                <label>@Model.LabelSesso </label><br />
                @Html.DropDownListFor(t => t.Utente.Sesso, new List<SelectListItem>
                {new SelectListItem{Text="Maschio", Value="Maschio"},
                 new SelectListItem{Text="Femmina", Value="Femmina"}}, "Seleziona Sesso")
                @Html.ValidationMessageFor(t => t.Utente.Sesso)
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-12 col-md-12">
            <div class="form-group">
                <label>@Model.LabelSquadra </label><br />
                @Html.DropDownListFor(t => t.Utente.FK_Societa_Sportiva, new List<SelectListItem>
                {new SelectListItem{Text="AC MILAN", Value="AC MILAN"},
                 new SelectListItem{Text="AEK ATHENS", Value="AEK ATHENS"},
                 new SelectListItem { Text = "AJAX", Value = "AJAX" },
                 new SelectListItem { Text = "ALAVES", Value = "ALAVES" },
                 new SelectListItem { Text = "Alba Berlin", Value = "Alba Berlin" },
                 new SelectListItem{Text="ALFA ROMEO RACING", Value="ALFA ROMEO RACING"},
                 new SelectListItem { Text = "Pallacanestro Trieste", Value = "Alma Pallacanestro Trieste 2004" },
                 new SelectListItem { Text = "ALPHATAURI", Value = "ALPHATAURI"},
                 new SelectListItem { Text = "ALPINE", Value = "ALPINE" },
                 new SelectListItem { Text = "ANADOLU EFES", Value = "Anadolu Efes Spor Kulübü" },
                 new SelectListItem { Text = "ANGERS", Value = "ANGERS" },
                 new SelectListItem { Text = "ANGERS", Value = "ANGERS" },
                 new SelectListItem { Text = "APRILIA", Value = "APRILIA" },
                 new SelectListItem { Text = "Basket Trento", Value = "Aquila Basket Trento" },
                 new SelectListItem { Text = "ANTWERP", Value = "ANTWERP" },
                 new SelectListItem { Text = "ARMINIA BELEFELD", Value = "ARMINIA BELEFELD" },
                 new SelectListItem { Text = "ARSENAL", Value = "ARSENAL" },
                 new SelectListItem { Text = "ASCOLI", Value = "ASCOLI" },
                 new SelectListItem { Text = "ASTON MARTIN", Value = "ASTON MARTIN" },
                 new SelectListItem { Text = "ASTON VILLA", Value = "ASTON VILLA" },
                 new SelectListItem { Text = "ASVEL", Value = "ASVEL Lyon Villeurbanne" },
                 new SelectListItem { Text = "ATALANTA", Value = "ATALANTA" },
                 new SelectListItem { Text = "ATHLETIC BILBAO", Value = "ATHLETIC BILBAO" },
                 new SelectListItem { Text = "ATLANTA HAWKS", Value = "ATLANTA HAWKS" },
                 new SelectListItem { Text = "ATLETICO MADRID", Value = "ATLETICO MADRID" },
                 new SelectListItem { Text = "AUGSBURG", Value = "AUGSBURG" },
                 new SelectListItem { Text = "Olimpia Milano", Value = "AX Armani Exchange Olimpia Milan" },
                 new SelectListItem { Text = "AZ ALKMAAR", Value = "AZ ALKMAAR" },
                 new SelectListItem { Text = "BARCELONA", Value = "BARCELONA" },
                 new SelectListItem { Text = "Brescia basket", Value = "Basket Brescia Leonessa" },
                 new SelectListItem { Text = "BASKONIA", Value = "BASKONIA" },
                 new SelectListItem { Text = "BAYER LEVERKUSEN", Value = "BAYER LEVERKUSEN" },
                 new SelectListItem { Text = "BAYERN MUNICH BASKET", Value = "FC Bayern München" },
                 new SelectListItem { Text = "BAYERN MUNICH", Value = "BAYERN MUNICH" },
                 new SelectListItem { Text = "BC Khimki", Value = "BC Khimki" },
                 new SelectListItem { Text = "BC Žalgiris Kaunas", Value = "BC Žalgiris Kaunas" },
                 new SelectListItem { Text = "BENEVENTO", Value = "BENEVENTO" },
                 new SelectListItem { Text = "BENFICA", Value = "BENFICA" },
                 new SelectListItem { Text = "BERLINO", Value = "BERLINO" },
                 new SelectListItem { Text = "BIELLA", Value = "BIELLA" },
                 new SelectListItem { Text = "BK Zenit Saint Petersburg", Value = "BK Zenit Saint Petersburg" },
                 new SelectListItem { Text = "BOLOGNA", Value = "BOLOGNA" },
                 new SelectListItem { Text = "BORDEAUX", Value = "BORDEAUX" },
                 new SelectListItem { Text = "BORUSSIA DORTMUND", Value = "BORUSSIA DORTMUND" },
                 new SelectListItem { Text = "BORUSSIA MOENCHENGLADBACH", Value = "BORUSSIA MOENCHENGLADBACH" },
                 new SelectListItem { Text = "BOSTON CELTICS", Value = "BOSTON CELTICS" },
                 new SelectListItem { Text = "BRAGA", Value = "BRAGA" },
                 new SelectListItem { Text = "BRESCIA", Value = "BRESCIA" },
                 new SelectListItem { Text = "BREST", Value = "BREST" },
                 new SelectListItem { Text = "BRIGHTON", Value = "BRIGHTON" },
                 new SelectListItem { Text = "BRINDISI", Value = "BRINDISI" },
                 new SelectListItem { Text = "BROOKLYN NETS", Value = "BROOKLYN NETS" },
                 new SelectListItem { Text = "BURNLEY", Value = "BURNLEY" },
                 new SelectListItem { Text = "CADIZ", Value = "CADIZ" },
                 new SelectListItem { Text = "CAGLIARI", Value = "CAGLIARI" },
                 new SelectListItem { Text = "CD Saski Baskonia", Value = "CD Saski Baskonia" },
                 new SelectListItem { Text = "CELTA VIGO", Value = "CELTA VIGO" },
                 new SelectListItem { Text = "CELTIC", Value = "CELTIC" },
                 new SelectListItem { Text = "CFR CLUJ", Value = "CFR CLUJ" },
                 new SelectListItem { Text = "CHARLOTTE HORNETS", Value = "CHARLOTTE HORNETS" },
                 new SelectListItem { Text = "CHELSEA", Value = "CHELSEA" },
                 new SelectListItem { Text = "CHICAGO BULLS", Value = "CHICAGO BULLS" },
                 new SelectListItem { Text = "CHIEVO", Value = "CHIEVO" },
                 new SelectListItem { Text = "CITTADELLA", Value = "CITTADELLA" },
                 new SelectListItem { Text = "CLEVELAND CAVALIERS", Value = "CLEVELAND CAVALIERS" },
                 new SelectListItem { Text = "CLUB BRUGES", Value = "CLUB BRUGES" },
                 new SelectListItem { Text = "Fortitudo Bologna", Value = "Consultinvest Fortitudo Pallacanestro Bologna 103" },
                 new SelectListItem { Text = "COSENZA", Value = "COSENZA" },
                 new SelectListItem { Text = "CREMONESE", Value = "CREMONESE" },
                 new SelectListItem { Text = "CROTONE", Value = "CROTONE" },
                 new SelectListItem { Text = "CRYSTAL PALACE", Value = "CRYSTAL PALACE" },
                 new SelectListItem { Text = "CSKA", Value = "CSKA" },
                 new SelectListItem { Text = "DALLAS MAVERICKS", Value = "DALLAS MAVERICKS" },
                 new SelectListItem { Text = "DENVER NUGGETS", Value = "DENVER NUGGETS" },
                 new SelectListItem { Text = "DETROIT PISTONS", Value = "DETROIT PISTONS" },
                 new SelectListItem { Text = "DIJON", Value = "DIJON" },
                 new SelectListItem { Text = "DINAMO SASSARI", Value = "Dinamo Banco di Sardegna Sassari" },
                 new SelectListItem { Text = "DINAMO ZAGREB", Value = "DINAMO ZAGREB" },
                 new SelectListItem { Text = "DUCATI", Value = "DUCATI" },
                 new SelectListItem { Text = "DUNDALK", Value = "DUNDALK" },
                 new SelectListItem { Text = "DINAMO KYIV", Value = "DINAMO KYIV" },
                 new SelectListItem { Text = "EIBAR", Value = "EIBAR" },
                 new SelectListItem { Text = "EINTRACHT FRANKFURT", Value = "EINTRACHT FRANKFURT" },
                 new SelectListItem { Text = "ELCHE", Value = "ELCHE" },
                 new SelectListItem { Text = "EMPOLI", Value = "EMPOLI" },
                 new SelectListItem { Text = "ENTELLA", Value = "ENTELLA" },
                 new SelectListItem { Text = "ESPONSORAMA RACING", Value = "ESPONSORAMA RACING" },
                 new SelectListItem { Text = "EVERTON", Value = "EVERTON" },
                 new SelectListItem { Text = "FC KÖLN", Value = "FC KÖLN" },
                 new SelectListItem { Text = "FC KRASNODAR", Value = "FC KRASNODAR" },
                 new SelectListItem { Text = "FC MIDTJYLLAND", Value = "FC MIDTJYLLAND" },
                 new SelectListItem { Text = "FC PORTO", Value = "FC PORTO" },
                 new SelectListItem { Text = "FENERBAHÇE", Value = "FENERBAHÇE" },
                 new SelectListItem { Text = "FENERBAHÇE BASKET", Value = "Fenerbahçe Spor Kulübü" },
                 new SelectListItem { Text = "FERENCVAROS", Value = "FERENCVAROS" },
                 new SelectListItem { Text = "FERRARI", Value = "FERRARI" },
                 new SelectListItem { Text = "FEYENOORD", Value = "FEYENOORD" },
                 new SelectListItem { Text = "FIORENTINA", Value = "FIORENTINA" },
                 new SelectListItem { Text = "FK CRVENA ZVEZDA", Value = "FK CRVENA ZVEZDA" },
                 new SelectListItem { Text = "FREIBURG", Value = "FREIBURG" },
                 new SelectListItem { Text = "FROSINONE", Value = "FROSINONE" },
                 new SelectListItem { Text = "FSV MAINZ", Value = "FSV MAINZ" },
                 new SelectListItem { Text = "FULHAM", Value = "FULHAM" },
                 new SelectListItem { Text = "GENOA", Value = "GENOA" },
                 new SelectListItem { Text = "GENT", Value = "GENT" },
                 new SelectListItem { Text = "GETAFE", Value = "GETAFE" },
                 new SelectListItem { Text = "GOLDEN STATE WARRIORS", Value = "GOLDEN STATE WARRIORS" },
                 new SelectListItem { Text = "GRANADA", Value = "GRANADA" },
                 new SelectListItem { Text = "VANOLI BASKET", Value = "Guerino Vanoli Basket" },
                 new SelectListItem { Text = "HAAS", Value = "HAAS" },
                 new SelectListItem { Text = "HAPOEL BEER SHEVA", Value = "HAPOEL BEER SHEVA" },
                 new SelectListItem { Text = "HERTHA BERLIN", Value = "HERTHA BERLIN" },
                 new SelectListItem { Text = "HOFFENHEIM", Value = "HOFFENHEIM" },
                 new SelectListItem { Text = "HONDA", Value = "HONDA" },
                 new SelectListItem { Text = "HOUSTON ROCKETS", Value = "HOUSTON ROKETS" },
                 new SelectListItem { Text = "HUESCA", Value = "HUESCA" },
                 new SelectListItem { Text = "INDIANA PACERS", Value = "INDIANA PACERS" },
                 new SelectListItem { Text = "INTER", Value = "INTER" },
                 new SelectListItem { Text = "ISTANBUL BASAKSEHIR", Value = "ISTANBUL BASAKSEHIR" },
                 new SelectListItem { Text = "JUVENTUS", Value = "JUVENTUS" },
                 new SelectListItem { Text = "KK Crvena Zvezda", Value = "KK Crvena Zvezda" },
                 new SelectListItem { Text = "KTM", Value = "KTM" },
                 new SelectListItem { Text = "LASK LINZ", Value = "LASK LINZ" },
                 new SelectListItem { Text = "LAZIO", Value = "LAZIO" },
                 new SelectListItem { Text = "LCR HONDA", Value = "LCR HONDA" },
                 new SelectListItem { Text = "LECCE", Value = "LECCE" },
                 new SelectListItem { Text = "LECH POZNAN", Value = "LECH POZNAN" },
                 new SelectListItem { Text = "LEEDS", Value = "LEEDS" },
                 new SelectListItem { Text = "LEICESTER", Value = "LEICESTER" },
                 new SelectListItem { Text = "LENS", Value = "LENS" },
                 new SelectListItem { Text = "LEVANTE", Value = "LEVANTE" },
                 new SelectListItem { Text = "LIBEREC", Value = "LIBEREC" },
                 new SelectListItem { Text = "LILLE", Value = "LILLE" },
                 new SelectListItem { Text = "LIVERPOOL", Value = "LIVERPOOL" },
                 new SelectListItem { Text = "LOKOMOTIV MOSCOW", Value = "LOKOMOTIV MOSCOW" },
                 new SelectListItem { Text = "LORIENT", Value = "LORIENT" },
                 new SelectListItem { Text = "LOS ANGELES CLIPPERS", Value = "LOS ANGELES CLIPPERS" },
                 new SelectListItem { Text = "LOS ANGELES LAKERS", Value = "LOS ANGELES LAKERS" },
                 new SelectListItem { Text = "LUDOGORETS RAZGRAD", Value = "LUDOGORETS RAZGRAD" },
                 new SelectListItem { Text = "LYON", Value = "LYON" },
                 new SelectListItem { Text = "Maccabi FOX Tel Aviv", Value = "Maccabi FOX Tel Aviv" },
                 new SelectListItem { Text = "MACCABI TEL AVIV", Value = "MACCABI TEL AVIV" },
                 new SelectListItem { Text = "MANCHESTER CITY", Value = "MANCHESTER CITY" },
                 new SelectListItem { Text = "MANCHESTER UNITED", Value = "MANCHESTER UNITED" },
                 new SelectListItem { Text = "MARSEILLE", Value = "MARSEILLE" },
                 new SelectListItem { Text = "MCLAREN", Value = "MACLAREN" },
                 new SelectListItem { Text = "MEMPHIS GRIZZLIES", Value = "MEMPHIS GRIZZLIES" },
                 new SelectListItem { Text = "MERCEDES", Value = "MERCEDES" },
                 new SelectListItem { Text = "METZ", Value = "METZ" },
                 new SelectListItem { Text = "MIAMI HEAT", Value = "MIAMI HEAT" },
                 new SelectListItem { Text = "MILWAUKEE BUCKS", Value = "MILWAUKEE BUCKS" },
                 new SelectListItem { Text = "MINNESOTA TIMBERWOLVES", Value = "MINNESOTA TIMBERWOLVES" },
                 new SelectListItem { Text = "MOLDE", Value = "MOLDE" },
                 new SelectListItem { Text = "MONACO", Value = "MONACO" },
                 new SelectListItem { Text = "MONTPELLIER", Value = "MONTPELLIER" },
                 new SelectListItem { Text = "MONZA", Value = "MONZA" },
                 new SelectListItem { Text = "NANTES", Value = "NANTES" },
                 new SelectListItem { Text = "NAPOLI", Value = "NAPOLI" },
                 new SelectListItem { Text = "Brindisi basket", Value = "New Basket Enel Brindisi" },
                 new SelectListItem { Text = "NEW ORLEANS PELICANS", Value = "NEW ORLEANS PELICANS" },
                 new SelectListItem { Text = "NEW YORK KNICKS", Value = "NEW YORK KNICKS" },
                 new SelectListItem { Text = "NEWCASTLE UNITED", Value = "NEWCASTLE UNITED" },
                 new SelectListItem { Text = "NICE", Value = "NICE" },
                 new SelectListItem { Text = "NIMES", Value = "NIMES" },
                 new SelectListItem { Text = "OKLAHOMA CITY THUNDER", Value = "OKLAHOMA CITY THUNDER" },
                 new SelectListItem { Text = "OLYMPIACOS", Value = "OLYMPIACOS" },
                 new SelectListItem { Text = "OLYMPIACOS BASKET", Value = "OLYMPIACOS BC" },
                 new SelectListItem { Text = "OMONIA NICOSIA", Value = "OMONIA NICOSIA" },
                 new SelectListItem { Text = "ORLANDO MAGIC", Value = "ORLANDO MAGIC" },
                 new SelectListItem { Text = "OSASUNA", Value = "OSASUNA" },
                 new SelectListItem { Text = "Pallacanestro Cantù", Value = "Pallacanestro Cantù" },
                 new SelectListItem { Text = "Pallacanestro Openjobmetis Varese", Value = "Pallacanestro Openjobmetis Varese" },
                 new SelectListItem { Text = "Pallacanestro Reggiana", Value = "Pallacanestro Reggiana" },
                 new SelectListItem { Text = "Panathinaikos BC", Value = "Panathinaikos BC Superfoods" },
                 new SelectListItem { Text = "PAOK THESSALONIKI FC", Value = "PAOK THESSALONIKI FC" },
                 new SelectListItem { Text = "PARMA", Value = "PARMA" },
                 new SelectListItem { Text = "PBK CSKA Moskva", Value = "PBK CSKA Moskva" },
                 new SelectListItem { Text = "PESCARA", Value = "PESCARA" },
                 new SelectListItem { Text = "PETRONAS", Value = "PETRONAS SRT" },
                 new SelectListItem { Text = "PFC CSKA-SOFIA", Value = "PFC CSKA-SOFIA" },
                 new SelectListItem { Text = "PHILADELPHIA 76ER", Value = "PHILADELPHIA 76ERS" },
                 new SelectListItem { Text = "PHOENIX SUNS", Value = "PHOENIX SUNS" },
                 new SelectListItem { Text = "PISA", Value = "PISA" },
                 new SelectListItem { Text = "PORDENONE", Value = "PORDENONE" },
                 new SelectListItem { Text = "PORTLAND TRAIL BLAZERS", Value = "PORTLAND TRAIL BLAZERS" },
                 new SelectListItem { Text = "PRAMAC", Value = "PRAMAC RAGING" },
                 new SelectListItem { Text = "PSG", Value = "PSG" },
                 new SelectListItem { Text = "PSV EINDHOVEN", Value = "PSV EINDHOVEN" },
                 new SelectListItem { Text = "QARABAG FK", Value = "QARABAG FK" },
                 new SelectListItem { Text = "RANGERS", Value = "RANGERS" },
                 new SelectListItem { Text = "RAPID WIEN", Value = "RAPID WIEN" },
                 new SelectListItem { Text = "RASENBALLSPORT LEIPZIG", Value = "RASENBALLSPORT LEIPZIG" },
                 new SelectListItem { Text = "REAL BETIS", Value = "REAL BETIS" },
                 new SelectListItem { Text = "REAL MADRID", Value = "REAL MADRID" },
                 new SelectListItem { Text = "REAL MADRID BASKET", Value = "Real Madrid Baloncesto" },
                 new SelectListItem { Text = "REAL SOCIEDAD", Value = "REAL SOCIEDAD" },
                 new SelectListItem { Text = "REDBULL", Value = "REDBULL" },
                 new SelectListItem { Text = "REGGIANA", Value = "REGGIANA" },
                 new SelectListItem { Text = "REGGINA", Value = "REGGINA" },
                 new SelectListItem { Text = "REIMS", Value = "REIMS" },
                 new SelectListItem { Text = "RENNES", Value = "RENNES" },
                 new SelectListItem { Text = "REYER VENEZIA", Value = "REYER VENEZIA MESTRE" },
                 new SelectListItem { Text = "RIJEKA", Value = "RIJEKA" },
                 new SelectListItem { Text = "ROMA", Value = "ROMA" },
                 new SelectListItem { Text = "SACRAMENTO KINGS", Value = "SACRAMENTO KINGS" },
                 new SelectListItem { Text = "SAINT-ETIENNE", Value = "SAINT-ETIENNE" },
                 new SelectListItem { Text = "SALERNITANA", Value = "SALERNITANA" },
                 new SelectListItem { Text = "SALZBURG", Value = "SALZBURG" },
                 new SelectListItem { Text = "SAMPDORIA", Value = "SAMPDORIA" },
                 new SelectListItem { Text = "SAN ANTONIO SPURS", Value = "SAN ANTONIO SPURS" },
                 new SelectListItem { Text = "SASSUOLO", Value = "SASSUOLO" },
                 new SelectListItem { Text = "SCHALKE 04", Value = "SCHALKE 04" },
                 new SelectListItem { Text = "SEVILLA", Value = "SEVILLA" },
                 new SelectListItem { Text = "SHAKHTAR DONETSK", Value = "SHAKHTAR DONETSK" },
                 new SelectListItem { Text = "SHEFFIELD UNITED", Value = "SHEFFIELD UNITED" },
                 new SelectListItem { Text = "SIVASSPOR", Value = "SIVASSPOR" },
                 new SelectListItem { Text = "SLAVIA PRAGUE", Value = "SLAVIA PRAGUE" },
                 new SelectListItem { Text = "SOUTHAMPTON ", Value = "SOUTHAMPTON " },
                 new SelectListItem { Text = "SPAL", Value = "SPAL" },
                 new SelectListItem { Text = "SPARTA PRAGUE", Value = "SPARTA PRAGUE" },
                 new SelectListItem { Text = "SPEZIA", Value = "SPEZIA" },
                 new SelectListItem { Text = "STANDARD LIEGE", Value = "STANDARD LIEGE" },
                 new SelectListItem { Text = "STRASBOURG", Value = "STRASBOURG" },
                 new SelectListItem { Text = "SUZUKI", Value = "SUZUKI" },
                 new SelectListItem { Text = "TECH 3 KTM", Value = "TECH 3 KTM" },
                 new SelectListItem { Text = "TORINO", Value = "TORINO" },
                 new SelectListItem { Text = "TORONTO RAPTORS", Value = "TORONTO RAPTORS" },
                 new SelectListItem { Text = "TOTTENHAM", Value = "TOTTENHAM" },
                 new SelectListItem { Text = "UDINESE", Value = "UDINESE" },
                 new SelectListItem { Text = "UNION BERLIN", Value = "UNION BERLIN" },
                 new SelectListItem { Text = "Treviso Basket", Value = "Universo De' Longhi Treviso Basket" },
                 new SelectListItem { Text = "Pallacanestro Pesaro", Value = "US Victoria Libertas Pallacanestro Pesaro" },
                 new SelectListItem { Text = "UTAH JAZZ", Value = "UTAH JAZZ" },
                 new SelectListItem { Text = "VALENCIA", Value = "VALENCIA" },
                 new SelectListItem { Text = "VALENCIA BASKET", Value = "VALENCIA BC" },
                 new SelectListItem { Text = "VALLADOLID", Value = "VALLADOLID" },
                 new SelectListItem { Text = "VENEZIA", Value = "VENEZIA" },
                 new SelectListItem { Text = "VERONA", Value = "VERONA" },
                 new SelectListItem { Text = "VFB STUTTGART", Value = "VFB STUTTGART" },
                 new SelectListItem { Text = "VICENZA", Value = "VICENZA" },
                 new SelectListItem { Text = "VILLARREAL", Value = "VILLARREAL" },
                 new SelectListItem { Text = "VIRTUS BOLOGNA", Value = "Virtus Pallacanestro Bologna" },
                 new SelectListItem { Text = "WASHINGTON WIZARDS", Value = "WASHINGTON WIZARDS" },
                 new SelectListItem { Text = "WERDER BREMEN", Value = "WERDER BREMEN" },
                 new SelectListItem { Text = "WEST BROMWICH ALBION", Value = "WEST BROMWICH ALBION" },
                 new SelectListItem { Text = "WEST HAM", Value = "WEST HAM" },
                 new SelectListItem { Text = "WILLIAMS", Value = "WILLIAMS" },
                 new SelectListItem { Text = "WOLFSBERGER AC", Value = "WOLFSBERGER AC" },
                 new SelectListItem { Text = "WOLFSBURG", Value = "WOLFSBURG" },
                 new SelectListItem { Text = "WOLVERHAMPTON WANDERERS", Value = "WOLVERHAMPTON WANDERERS" },
                 new SelectListItem { Text = "YAMAHA", Value = "YAMAHA" },
                 new SelectListItem { Text = "YOUNG BOYS", Value = "YOUNG BOYS" },
                 new SelectListItem { Text = "ZENIT", Value = "ZENIT" },
                 new SelectListItem { Text = "ZORYA", Value = "ZORYA" },
                 }, "Seleziona Squadra")
                 @Html.ValidationMessageFor(t => t.Utente.FK_Societa_Sportiva)
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-12 col-md-12">
            <div class="form-group">
                <div class="form-check">
                    @Html.CheckBoxFor(t => t.Utente.Privacy, new { @class = "form-check-input" })
                    <label for="utente_isprivacy" class="form-check-label">@Html.Raw(Model.LabelPrivacy)</label>
                    @Html.ValidationMessageFor(t => t.Utente.Privacy)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-12 col-md-12">
            <input type="submit" value="@Model.BtnRegistrazione" class="btn btn-success" />
        </div>
    </div>
    <br />
    if (!string.IsNullOrWhiteSpace(Model.Messaggio))
    {
        <div class="row clear">
            <div class="col-md-6">
                <p class="alert alert-@(Model.IsSuccesso?"success":"danger")">@Html.Raw(Model.Messaggio)</p>
            </div>
        </div>
    }
}




